#jumbotron{
	font-family: 'Baloo Bhaina', cursive;
	text-align: center;
	background-color: #94b8b8;
	color: white;
	text-shadow: 4px 4px 5px grey;
	font-weight: black;

}

#panel1{
	color: black;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;

}